@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animation-play-state:hover {
    animation-play-state: paused;
  }

  .custom-h-full {
    height: calc(100vh - 3.90rem);
  }

  .form-divider::before {
    content: '';
    display: block;
    width: 20rem ;
    position: absolute;
    height: 2;
    background: #000;
    
  }

  .form-divider::after {
    left: 0;
  }

  .form-divider::before {
    right: 0;
  }

  @media (min-width: 768px) {
    .custom-h-full {
      height: calc(100vh - 5rem);
    }
  }
}